name: Cloudflare deploy button

on:
  repository_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-24.04
    permissions:
      contents: read
      deployments: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v6.0.1

      - name: Install pnpm
        uses: pnpm/action-setup@v4.2.0
        with:
          version: 10.24.0
          run_install: false

      - name: Set up Node.js
        uses: actions/setup-node@v6.0.0
        with:
          node-version: 24.11.1
          cache: pnpm

      - name: Install dependencies
        run: pnpm install

      - name: Wrangle
        uses: cloudflare/wrangler-action@v3.14.1
        with:
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          gitHubToken: ${{ secrets.GITHUB_TOKEN }}
